.ContentHeader {
              background-color: #ffffff;
              display: -webkit-flex;
              display: flex;
              height: 150px;
              width: 100%;
              justify-content: flex-end;
}

          .clusters{
              background-color: rgba(0,0,0,0.1);
              flex-direction: row;
              justify-content:space-around;
              margin-left: 10px;
              margin-right: 10px;
              width: 19%;
              margin-top: 1%;
              margin-bottom: 1%;
}